#calendar{
max-width:1100px;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.fc-day-today{
background:#e8f4ff !important;
}

.fc-event{
border-radius:6px;
padding:3px;
}

.fc-event.urgent{
background:#ff4d4d;
border:none;
}

.fc-event.normal{
background:#4CAF50;
border:none;
}

.fc-event.urgent{
background:#ef4444 !important;
border:none;
}

.fc-event.normal{
background:#3b82f6 !important;
border:none;
}

#calendar{
max-width:100%;
margin:auto;
}

.fc {
    z-index: 1;
}

#eventModal {
    z-index: 9999;
}

/* cores prioridade */

.fc-event.urgent{
background:#ef4444 !important;
border:none;
}

.fc-event.normal{
background:#3b82f6 !important;
border:none;
}

/* animação modal */

#eventModal{
transition: all .2s ease;
}

/* cards sidebar */

.today-card{
padding:10px;
border-radius:8px;
font-size:14px;
color:white;
}

/* evento normal */
.fc-event.normal{
background:#3b82f6 !important;
border:none;
}

/* evento urgente */
.fc-event.urgent{
background:#ef4444 !important;
border:none;
}